# nome da Aplicação
spring.application.name=poupa-api

# configuração da conexão JDBC
spring.datasource.url=jdbc:postgresql://localhost:5432/poupa_db
spring.datasource.username= SEU_USUARIO_AQUI
spring.datasource.password= SUA_SENHA_AQUI
spring.datasource.driver-class-name=org.postgresql.Driver

# configuração do hibernate JPA
# 'none' porque já criamos o banco via SQL o java apenas le os dados.
spring.jpa.hibernate.ddl-auto=none

# mostra no console o SQL que o java gera
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# dialeto do postgreSQL essencial para UUID e JSONB
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

# ativar threads virtuais (java 21) - performance para o Bot
spring.threads.virtual.enabled=true